SwinBERT/swinbert_env/
TEVAD/ckpt/
.DS_Store
TEVAD/tev_env/
TEVAD/save/Crime/
I3D_Feature_Extraction_resnet/pretrained/
SwinBERT/models/table1/uca_finetune/
.ipynb_checkpoints/
UCA-Dataset/original/
UCA-Dataset/w-captions/train/
UCA-Dataset/w-captions/test/
UCA-Dataset/w-captions/val/
kaggle.json
swin_base_patch244_window877_kinetics400_22k.pth
swin_base_patch244_window877_kinetics600_22k.pth
pytorch_model.bin
SwinBERT/models/table1/vatex/best-checkpoint/
hatch-universal.pkg
